
.floating {
  position: fixed;
  bottom: 0;
  right: 0;
}

.box {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  background: white;
  color: #444;
  max-width: 100%;
  transition: all 0.1s ease-out;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transform: scaleX(0.5) scaleY(0.7);
  opacity: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0 10px 10px 10px;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;
}

.close:hover {
  background: #efefef;
  border-radius: 3px;
}

.bubble {
  background: #0ecec9;
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
}

.bubble:hover {
  background: #0ec0c9;
}

.bubble svg {
  width: 21px;
  margin-top: 5px;
}

.header {
  background: #0ecec9;
  color: white;
  padding: 5px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media(min-width: 520px) {
  .content {
    width: 500px;
  }

  .box {
    margin-right: 30px;
  }
}

@media(min-height: 600px) {
  .box {
    margin-bottom: 110px;
  }
}
